body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('http://www.ies-events.com/Websites/iesevents/PhotoGallery/1636666/Light%20Up%20Dance%20Floor.jpg?08778');
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.flipping{
  content: url('https://media.giphy.com/media/cjiYC0tvtBNde/giphy.gif');
  border:none;

}